
*{
  font-family: 'Montserrat', sans-serif;
}
html {  
  background-color: #485B79;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
    
}

.card_index { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #485B79;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 18rem;
  height: 18rem;
  margin: 2rem;
  border: none;
  box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
  background-color: rgb(231, 231, 235) !important;
}

.card img {
  box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
  margin-bottom: 2rem;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}
a.btn_mio {
  background-color: #E9A193;
  color: rgb(53, 50, 50);
  margin: 5rem 2rem ;
  box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
}

a.btn_mio:hover {
  background-color: #48AAA4;
}

.boton_agregar{
  margin: 0 50rem;
}

form{
  background-color:#485B79; 
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
input{
  width: 20rem;
    height:3rem;
    margin: 0.5rem 0 2rem 0;
}

button{
  width: 7rem;
  height: 3rem;
  margin:3rem;
  background-color: #E9A193;
   
    border:none;
    border-radius: 10px !important;    
    box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
}
button:hover{
  background-color:#48AAA4 ;
}
button a{
  color:#1c1c1c;
}
button a:hover{
  text-decoration: none;
  color: antiquewhite;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

i{
  color:aliceblue;
}