footer{
background-color: #48AAA4;
}
h3{
  color:#4b4c4d;
  text-align: center;

}


.footer-clean {
  display: flex;
  flex-direction: row;
  align-items:center ;
  justify-content: space-around;  
  width: 100%;
  height: 20rem;
  padding: 50px 0;  
}

.footer-clean h4 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  color: #4b4c4d;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
 
}

.footer-clean ul a {
  color: #4b4c4d;
  text-decoration: none;
  
}



li{
  margin: 2rem 0 ;
}

.footer-clean ul a:hover {
color: rgb(237, 235, 235);
}




@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }

input{
  border:none;
  margin-top: 1rem !important;
  background-color: rgb(231, 231, 235);
}
.iconos{
  color: #4b4c4d !important;
  margin: 1rem;
}

 .iconos a i {
  text-align: center;
  font-size: 24px;
  width: 40px;
  height: 40px;  
  margin: 3rem 1rem;  
 text-decoration: none;
  color:#4b4c4d !important ;  
}

a:hover {
  color: rgb(237, 235, 235);
  transition: 0.2s;
  text-decoration: none;
}
 .iconos i:hover{
  color: rgb(237, 235, 235);
    transition: 0.2s;
 }



@media (max-width:991px) {
  .footer-clean .item.social>a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social>a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

p{
  color: #4b4c4d;
  text-align: center;
}

/* Credit to https://epicbootstrap.com/snippets/footer-with-columns */