*{
  font-family: 'Montserrat', sans-serif;
}


html .body{
  background-color: #485B79;
  
    font-family: 'Montserrat', sans-serif;
}


.card_index {

  height: 55rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #485B79;
}

.card {
  width: 18rem;
  height: 18rem;
  margin-top: 5rem;
  border:none;
  box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
  background-color:rgb(231, 231, 235) !important;
}

.card img{
box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
margin-bottom: 2rem;
}




a.btn_mio {
  background-color:#E9A193 ;
  color: rgb(53, 50, 50);
  margin: 5rem 0 5rem 0;
  box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
}

a.btn_mio:hover{
  background-color:#48AAA4 ;
  
}

@media (max-width: 400px){
  html{
    width: 490px;
    height:min-content;
  }
.card_index{
  justify-content: center;
  flex-wrap: wrap;
  margin:0 20% ;
  
}
}


