
html {

  background-color: #485B79;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_index {


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #485B79;
  flex-wrap: wrap;
  margin-bottom: 4rem;

}

.card-body{
  display:flex;  
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 18rem;
  height: 18rem;
  margin: 5rem ;
  border: none;
  box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
  background-color: rgb(231, 231, 235) !important;
}

.card img {
  box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
  margin-bottom: 2rem;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a.btn_mio {
  background-color: #E9A193;
  color: rgb(53, 50, 50);
  margin: 5rem 0 5rem 0;
  box-shadow: 2px 2px 10px rgba(1, 1, 0, 0.4);
}

a.btn_mio:hover {
  background-color: #48AAA4;
}
